// Import page-specific CSS files here.
@import "home";
body {
  background-image: url("https://miro.medium.com/max/1400/1*eBZfXMuE72uCDtjUZEzZHQ.gif");
  background-size: cover;
  background-repeat: no-repeat;
}
